<section class="banner">
    <owl-carousel-o [options]="bannerslider">
        <!-- <ng-template carouselSlide>
            <img src="../../../assets/Slider/slider-1.jpg" alt="Banner">
            <div class="carousel-caption card">
                <h2 class="hero-slider__heading--large pmr">People.</h2>
                <h2 class="hero-slider__heading--large">Passion.</h2>
                <h2 class="hero-slider__heading--large prmr">Pride.</h2>
            </div>
        </ng-template> -->
        <ng-template carouselSlide>
            <img src="../../../assets/Slider/slider-2.jpg"  alt="Banner">
           
        </ng-template>
        <!-- <ng-template carouselSlide>
            <img src="../../../assets/Slider/slider-3.jpg" alt="Banner">
            
        </ng-template> -->
        <ng-template carouselSlide>
            <img src="../../../assets/Slider/slider-4.jpg" alt="Banner">
            
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../../assets/Slider/slider-3.jpg" alt="Banner">
            
        </ng-template>
    </owl-carousel-o>
</section>