<!-- 
<img src="../../../../assets/Slider/corporate-world.jpg" style="width: 100%;" class="" alt="Ground handling" loading="lazy">
<div class="container">
    <div class="row">
        <div class="col-12  d-flex justify-content-center">
            <div class="ground-card" style="bottom: 38px; z-index: 1;" data-aos="fade-up" data-aos-duration="2000">
                <div class="card-body">
                    <div class="">
                        <div *ngFor="let p of companyResponse">
                            <h1 class="title" style="font-weight: bold;margin-bottom: 2rem;">{{p.companyName}}</h1>
                            <p style="word-spacing: 2px;">{{p.companyDescription}} </p>
                            <a href="https://airmenzies.com/" target="_blank" class="mt-3"><i class="fa fa-globe"> &nbsp;</i><u>{{p.companyUrl}}</u></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12  d-flex justify-content-center">
            <div class="card"
                style="bottom: 38px; z-index: 1;border-bottom: 4px solid;border-bottom-color: #1e3669;padding: 0px 30px 0px 30px;">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <h4 class="title" style="font-weight: bold;"> Air Menzies International Pakistan
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="clients" class="section-bg">
    <div class="container">
        <div class="row no-gutters clients-wrap clearfix wow fadeInUp"
            style="visibility: visible; animation-name: fadeInUp;">
            <ng-container>
                <ng-container>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo" data-toggle="modal" data-target="#exampleModal">
                            <a data-toggle="modal" data-target="#ClientModal" href="https://airmenzies.com/"
                                target="_blank">
                                <img src="../../../assets/Slider/Client Logo Pack/Associated Companies/AMI.png"
                                    class="img-fluid" alt=""> </a>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Air Menzies International Pakistan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    The key to a smooth shipment journey is having agents you can trust in place throughout the process.
                    Our complete cargo shipment solution gives you total peace of mind that we are in complete control
                    of your shipment at each stage of the process. Standardised processes, modern infrastructure, staff
                    training, and quality assurance across our global network gives us this control and the ability to
                    internally track your shipment in real-time. Collection, screening, customs, documentation, storage,
                    and delivery - we can take care of it all, and with competitive pricing solutions.

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>