<img src="../../../assets/Slider/ourteam-slider.jpg" width="100%" class="" alt="Ground handling" loading="lazy">

<div class="contact-card">
  <div class="card-body ">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h2 class="title text-center" style="font-weight: bold;margin-bottom: .5rem;">Find your nearest contact</h2>
        <p class="text-center" style="word-spacing: 2px;font-weight:400;">Our teams across the country are ready to
          assist you. You can search our airport contacts at all of our locations for information about local services.
        </p>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-2"></div>
      <div class="col-md-4 text-center">
        <i class="fa fa-phone roundedFixedBtn" aria-hidden="true"></i>
        <p class="text-center" style="word-spacing: 2px;font-weight:400;">Contact us at</p>
        <p class="text-center" style="word-spacing: 2px;font-weight:400;"><b>+92-51-2801311-15</b></p>

      </div>
      <div class="col-md-4 text-center">
        <i class="fa fa-envelope-o roundedFixedBtn" aria-hidden="true"></i>
        <p class="text-center" style="word-spacing: 2px;font-weight:400;">Reach out to us at</p>
        <p class="text-center" style="word-spacing: 2px;font-weight:400;"><b>info@menzies-ras.com.pk</b></p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<div class="container mb-3">
  <div class="row mt-3 mb-3">
    <ng-container>
      <div class="contacts-grid__item col-md-4" data-aos-anchor-placement="top-center">
        <div class="contacts-grid__item__inner mb-3">
          <div class="row">
            <div class="col-md-10">
              <h4 class="contacts-grid__title text-center"><b>Head Office</b></h4>

              <p class="contacts-grid__address text-center sizefont">
                Royal Plaza, 30-East<br>
                Fazal-e-Haq Road<br>
                Blue Area<br>
                Islamabad, Pakistan
              </p>
            </div>
            <div class="col-md-10">

              <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d493.2794720877903!2d73.08635873963294!3d33.72510456158588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbfbb514766d5%3A0x4b9ea279cba7dc5!2sRoyal%20Plaza!5e0!3m2!1sen!2s!4v1655354206205!5m2!1sen!2s"
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="contacts-grid__item col-md-4" data-aos-anchor-placement="top-center">
        <div class="contacts-grid__item__inner mb-3">
          <div class="row">
            <div class="col-md-10">
              <h4 class="contacts-grid__title text-center"><b>Islamabad, ISB </b></h4>

              <p class="contacts-grid__address text-center sizefont">
                New International
                <br>
                Cargo Terminal
                <br>
                Islamabad International Airport
                <br>
                Islamabad, Pakistan
              </p>
            </div>
            <div class="col-md-10">

              <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6649.775775514674!2d72.82529935240746!3d33.556289094319126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df999324e8b081%3A0x4436b8765030008!2slslamabad%20International%20Airport!5e0!3m2!1sen!2s!4v1655447173245!5m2!1sen!2s"
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="contacts-grid__item col-md-4" data-aos-anchor-placement="top-center">
        <div class="contacts-grid__item__inner mb-3">
          <div class="row">
            <div class="col-md-10">
              <h4 class="contacts-grid__title text-center"><b>Karachi, KHI</b></h4>

              <p class="contacts-grid__address text-center sizefont">
                Room 5024-25
                <br>
                Level 5
                <br>
                Jinnah International Airport
                <br>
                Karachi, Pakistan
              </p>
            </div>
            <div class="col-md-10">

              <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.917770228039!2d67.16591401447835!3d24.900786349773842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb339c72ec76665%3A0xec5d1d821453c988!2sJinnah%20International%20Airport%20(JIAP)!5e0!3m2!1sen!2s!4v1655354101887!5m2!1sen!2s"
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="contacts-grid__item col-md-4" data-aos-anchor-placement="top-center">
        <div class="contacts-grid__item__inner mb-3">
          <div class="row">
            <div class="col-md-10">
              <h4 class="contacts-grid__title text-center"><b>Lahore, LHE </b></h4>
              <p class="contacts-grid__address text-center sizefont">
                Room No. 3186-89
                <br>
                Level 3
                <br>
                Allama Iqbal International Airport
                <br>
                Lahore, Pakistan
              </p>
            </div>
            <div class="col-md-10">
              <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3401.1533399861255!2d74.40899991463095!3d31.519948154317643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39190fc0f51a7431%3A0x45de5fff45d46b29!2sRoyal%20Airport%20services!5e0!3m2!1sen!2s!4v1655354072002!5m2!1sen!2s"
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="contacts-grid__item col-md-4" data-aos-anchor-placement="top-center">
        <div class="contacts-grid__item__inner mb-3">
          <div class="row">
            <div class="col-md-10">
              <h4 class="contacts-grid__title text-center"><b>Peshawar, PEW </b></h4>
              <p class="contacts-grid__address text-center sizefont">
                Room 26-27, First Floor
                <br>
                Aviation Building
                <br>
                Bacha Khan International Airport

                <br>
                Peshawar, Pakistan
              </p>
            </div>
            <div class="col-md-10">

              <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.105472455198!2d71.5170187146976!3d33.989824528465334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38d9177479eea517%3A0x74b026af758d23b8!2sBacha%20Khan%20International%20Airport!5e0!3m2!1sen!2s!4v1655354039697!5m2!1sen!2s"
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="contacts-grid__item col-md-4" data-aos-anchor-placement="top-center">
        <div class="contacts-grid__item__inner mb-3">
          <div class="row">
            <div class="col-md-10">
              <h4 class="contacts-grid__title text-center"><b>Multan, MUX</b></h4>
              <p class="contacts-grid__address text-center sizefont">
                Room No 175, Level-2
                <br>
                International Side
                <br>
                Multan International Airport
                <br>
                Multan, Pakistan
              </p>
            </div>
            <div class="col-md-10">

              <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.4386065771805!2d71.42250321459731!3d30.196026718351973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x393b334cabfe29cd%3A0x975957c22207d539!2sMultan%20International%20Airport!5e0!3m2!1sen!2s!4v1655354004541!5m2!1sen!2s"
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="contacts-grid__item col-md-4" data-aos-anchor-placement="top-center">
        <div class="contacts-grid__item__inner mb-3">
          <div class="row">
            <div class="col-md-10">
              <h4 class="contacts-grid__title text-center"><b>Faisalabad, LYP</b></h4>
              <p class="contacts-grid__address text-center sizefont">
                First Floor
                <br>
                Terminal Building

                <br>
                Faisalabad international Airport

                <br>
                Faisalabad, Pakistan
              </p>
            </div>
            <div class="col-md-10">

              <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3406.859883016529!2d72.98569681462682!3d31.36284556204263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39225ca1cac62539%3A0x9a08c8733582da3f!2sFaisalabad%20International%20Airport!5e0!3m2!1sen!2s!4v1655353959082!5m2!1sen!2s"
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="contacts-grid__item col-md-4" data-aos-anchor-placement="top-center">
        <div class="contacts-grid__item__inner mb-3">
          <div class="row">
            <div class="col-md-12">
              <h4 class="contacts-grid__title text-center"><b>Quetta, UET
                </b></h4>
              <p class="contacts-grid__address text-center sizefont">
                Room 7, First Floor
                <br>
                Domestic Wing, Executive Block
                <br>
                Quetta International Airport
                <br>
                Quetta, Pakistan
              </p>
            </div>
            <div class="col-md-10">

              <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3446.5790676797187!2d66.94663031459865!3d30.24907801583256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ed31e3a8669a0f1%3A0x5c920ca12679cfc5!2sQuetta%20International%20Airport!5e0!3m2!1sen!2s!4v1655353905542!5m2!1sen!2s"
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>