
<img src="../../../assets/Slider/ourteam-slider.jpg" style="width: 100%;" class="" alt="Ground handling" loading="lazy">
<div class="py-5 team4">
    <div class="container">
        <div class="row justify-content-center mb-2" >
            <div class="col-md-7 text-center">
                <h3 class="mb-3" style="font-weight: bold;margin-bottom: 2rem;">Our Team</h3></div>
        </div>
        <!-- <div class="row text-center" *ngFor="let p of teamModelResponse">
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{{p.teamImage}}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">{{p.teamName}}</h5><span class="small text-uppercase text-muted">{{p.teamDesignation}}</span>
            </div>
        </div>
        </div> -->

        <!-- <div class="row" id="team">
            <div class="col-md-3" *ngFor="let p of teamModelResponse">
                <div class="team-member mt-4">
                    <div class="overlay-wrapper2">
                        <img src="{{p.teamImage}}" alt="" width="100" class="img-responsive" style="width: 262px;position: relative;">
                    </div>
                    <h4 style="font-size: 16px;text-align: center;">{{p.teamName}}</h4>
                    <span style="font-size: 16px;text-align: center;">{{p.teamDesignation}}</span>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-6 col-lg-3" *ngFor="let p of teamModelResponse">
                <div class="img-block mb-5 text-center" (click)="showDetail(p)" id="ptrID">
                    <img src="{{p.teamImage}}" class="img-fluid img-thumbnail rounded-circle" alt="image1" style="width: 60%;">
                    <div class="content mt-2">
                        <h4 class="text-center" style="font-size: 20px;">{{p.teamName}}</h4>
                        <p class="text-muted text-center" style="font-size: 14px;" [innerHTML]="p.teamDesignation"></p>
                    </div>
                </div>
            </div>
        </div>




<!-- 
        <div class="row">
          
            <ng-container *ngFor="let p of teamModelResponse">
                <div class="col-lg-3 mb-4">
                  
                    <div class="row">
                        <div class="col-md-12">
                            <img src="{{p.teamImage}}" alt="wrapkit" class="img-fluid rounded" style="height: 280px;width: 345px;" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2"  >
                                <h5 class="mt-4 font-weight-medium mb-0">{{p.teamName}}</h5>
                                <h6 class="subtitle mb-3">{{p.teamDesignation}}</h6><br>
                                <p>{{p.teamDescription}}</p>
                                <ul class="list-inline">
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div> -->
    </div>
</div>

<button type="button" id="btnClickteamID4" data-toggle="modal"
data-target="#teamID4" style="display: none;">click</button>
<div class="modal fade" id="teamID4" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content bg-info">
            <div class="">
                <button type="button" class="close btnClose" data-dismiss="modal" aria-label="Close" #closeTaxModal><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body p-2 mb-3 text-center">
                <p class="para-sttng">For operational queries or information on adhoc flight handling,</p>
                <p class="para-sttng">please reach out to us at</p>
                <b style="color:#1e3669;cursor: pointer;font-size: 15px;">operations@menzies-ras.com.pk</b>
            </div>
        </div>
    </div>
</div>

<button type="button" id="btnClickteamID3" data-toggle="modal"
data-target="#teamID3" style="display: none;">click</button>
<div class="modal fade" id="teamID3" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content bg-info">
            <div class="">
                <button type="button" class="close btnClose" data-dismiss="modal" aria-label="Close" #closeTaxModal><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body p-2 mb-3 text-center">
                <p class="para-sttng">For commercial queries or information on our services,</p>
                <p class="para-sttng">please reach out to us at</p>
                <b style="color:#1e3669;cursor: pointer; font-size: 15px;">commercial@menzies-ras.com.pk</b>
            </div>
        </div>
    </div>
</div>